*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(231, 221, 221);
    width: 90%;
    height: 90%;
    display: flex;
   
}
.co{
    padding-bottom: 20px;
}
.dash{
    background: gray;
    height: 70px;
    width: 1350px;
    position: absolute;
}
.icon{
    padding-left: 210px;
    font-size: 50px;
    padding-top: 20px;
}
.hello i{
    font-size: 30px;
    background: red;
}
.dash2{
    background: gray;
    width: 200px;
    height: 730px;
    padding-left: 10px;
    padding-top: 30px;
    
}
.dash h2{
    padding-left: 30px;
    position: absolute;
    padding-top: 10px;
    color: rgb(114, 114, 9);
    font-size: 35px;
}
.dot{
    padding-top: 50px;
}
.dot2{
    padding-top: 20px;
}
.plus{
    position: absolute;
    padding-left: 95%;
    font-size: 40px;
    font-style: oblique;
    padding-top: 10px;
}

button{
    height: 25px;
    width: 150px;
    background: linear-gradient(yellow, black);
    border-radius: 12px;
    border: 1px solid wheat;
    color: white;
    margin-top: 500px;
    
}
.box1{
    height: 60px;
    width: 150px;
    background: white;
    position: absolute;
    margin-top: 160px;
    margin-left: 220px;
    border-radius: 15px;
}
.box2{
    height: 60px;
    width: 250px;
    /* background: white; */
    position: absolute;
    margin-top: 160px;
    margin-left: 420px;
    border-radius: 15px;
}
.box3{
    height: 60px;
    width: 150px;
    background: white;
    position: absolute;
    margin-top: 260px;
    margin-left: 220px;
    border-radius: 15px;
}
.box4{
    height: 60px;
    width: 250px;
    /* background: white; */
    position: absolute;
    margin-top: 260px;
    margin-left: 420px;
    border-radius: 15px;
}
.box5{
    height: 60px;
    width: 150px;
    background: white;
    position: absolute;
    margin-top: 360px;
    margin-left: 220px;
    border-radius: 15px;
}
/* .box6{
    height: 60px;
    width: 250px;
     z-index: 0; 
     position: absolute;
    background: rebeccapurple;
    margin-top: 340px;
    margin-left: 440px;
    border-radius: 15px;
}  */
.box7{
    height: 60px;
    width: 150px;
    background: white;
    /* position: absolute; */
    margin-top: 440px;
    margin-left: 220px;
    border-radius: 15px;
}
.box8{
    height: 60px;
    width: 250px;
    /* background: white; */
    position: absolute;
    margin-top: -60px;
    margin-left: 410px;
    border-radius: 15px;
}
.box9{
    /* height: 150px; */
    width: 510px; 
    background: white;
    position: relative;
    margin-top: 50px;
    margin-left: 210px;
    border-radius: 15px;
}
#demo{
    position: relative;
    top: -5rem;
    padding-left: 40px;
}
.ball1{
    background: rgb(109, 214, 109);
    border-radius: 0px 5px 5px 0px;
    height: 50px;
    width: 5px;
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
}

.ball3{
    background: aqua;
    border-radius: 0px 5px 5px 0px;
    height: 50px;
    width: 5px;
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;

}
.ball5{
    background: yellow;
    border-radius: 0px 5px 5px 0px;
    height: 50px;
    width: 5px;
    position: absolute;
    margin-left: 10px;
    margin-top: 7px;

}
.ball7{
    background: rgb(192, 101, 101);
    border-radius: 0px 5px 5px 0px;
    height: 50px;
    width: 5px;
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
}
.box1 h2{
    text-align: center;
    padding-top: 30px;
}
.search{
    background: gainsboro;
    color: black;
    width: 200px;
    height: 20px;
    font-size: 10px;
    position: absolute;
    padding-left: 50px;
    border-radius: 5px;
    margin-left: 600px;
    margin-top: 20px;
    padding-top: 5px;
}
.box3 h2{
    padding-top: 28px;
    padding-left: 20px;
}
/* .ball5 h2{
    padding-right: 100px;
} */
.rwf{
    width: 120px;
    height: 50px;
}
input{
    width: 300px;
    height: 50px;
    border-radius: 15px;
    padding-left: 30px;
    margin-bottom: 40px;
    
}
.box5 h2{
    position: absolute;
    padding-left: 30px;
    font-size: 20px;
    padding-top: 20px;

    
}
.box6 h2{
    position: relative;
    padding-left: 200px;
    font-size: 20px;
}
.boss{
    width: 120px;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 40px;
}
.boss1{
    width: 120px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 40px;
}
.boss input{
    width: 300px;
    height: 50px;
    border-radius: 15px;
    margin-left: 180px;
    margin-bottom: -80px;
}
.box7 h2{
    font-size: 20px;
    padding: 20px 15px;
    position: relative;
}
.box9 h2{
    padding-left: 85px;
    padding-bottom: 80px;
    padding-top: -120px;
}
.send button{
    margin-left: 350px;
    margin-top: -50px;
}
.pro button{
    margin-top: 80px;
    position: absolute;
}