*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: #878686;
    display: flex;
    width: 100%;
   height: 25%; 
  height: 70px;
}
.logo{
    font-size: 36px;
    padding: 3px 20px 3px 20px;
    color: #FAA707;
    margin-top: 20px;
    width: 400px;
font-style: italic;
margin-top: 14px;
}
.menu{
    color: #DBD5D5;
    font-size: 40px;
    /* margin-left: 36px; */
/* padding: 10px 100px 30px; */
}
.search-bar{
   width: 100%;
   max-width: 700px;
  color: #868585;
  margin-bottom: -50px;
}
.search-bar:hover{
    cursor: pointer;
}
.plus{
    color: #5B5959;
    margin-left: 340px;
    margin-top: 20px;
    font-size: 30px;
    
}
.plus a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
    margin-top: 60px;
}
.plus:hover{
    cursor: pointer;
}
.main{ margin-top: -10px;
    display: flex;
}
.dashboard{
    background-color: #878686;
    height: 110.5vh;
    width: 15%;
}
.button1{
    margin-top: 40px;
    /* margin-left: 360px; */
    height: 40px;
    width: 80%;
   background:linear-gradient(#FAA707 50%,rgb(196, 214, 28));
   border-radius: 20px;
   border: 1px solid white;
   color: white;
   font-family: 700;
   /* font-size: 20px; */
box-shadow:  0 0 20px rgb(48, 46, 77, 0.25);
cursor: pointer;
}
.notification{
    margin-right: -320px;
    font-size: 20px;
    cursor: pointer;
}
.settings{
    font-size: 20px; 
     cursor: pointer;
}
i{
padding: 30px 20px 30px 30px;
}
.bx-menu{
    font-size: 36px;
    margin-left: -10px;
    margin-top: -10px;
}
.bx-menu:hover{
    cursor: pointer;
}
.bx-search-alt-2{
    font-size: 20px; 
    padding-top: 20px;
    margin-left: -60px; 
}
.input1{
    border-style: none;
    width: 220px;
    height: 30px;
    border-radius: 20px;
    color: #878686;
    margin-left: 150px;
    outline: none;
    padding-left: 20px;
    position: relative;
    
}
.dash{
    font-size: 19px;
}
.main2{
    background-color: #b6b4b4;
    border-radius: 20px;
    margin : 20px 160px;
    padding:80px 230px ;
   
}
.span1 a{
    text-decoration: none;
    color: black;
}
.span2 a{
    text-decoration: none;
    color: black;
}
.span3 a{
    text-decoration: none;
    color: black;
}
.span4 a{
    text-decoration: none;
    color: black;
}
.span5 a{
    text-decoration: none;
    color: black;
} 
.box{
    margin-top: -700px;
}
.box1{
    width: 170px;
    height: 60px;
    background: rgb(248, 246, 246);
    margin-left: 450px;
    margin-top: 40px;
    border-radius: 10px;
    position: absolute;
}
.ball1{
    background: rgb(109, 214, 109);
    border-radius: 0px 5px 5px 0px;
    height: 50px;
    width: 5px;
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    
}
.box1 h2{
    text-align: center;
    padding-top: 30px;
}
input{
    width: 300px;
    height: 40px;
    border-radius: 15px;
    margin-left: 700px;
    margin-top: 45px;
    position: absolute;
}
.box2{
    width: 170px;
    height: 60px;
    background: rgb(248, 246, 246);
    margin-left: 450px;
    margin-top: 150px;
    border-radius: 10px;
    position: absolute;
}
.ball2{
    background: aquamarine;
    border-radius: 0px 5px 5px 0px;
    height: 50px;
    width: 5px;
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    
}
.box2 h2{
    text-align: center;
    padding-top: 30px;
}
.input2{
    width: 300px;
    height: 40px;
    border-radius: 15px;
    margin-left: 350px;
    margin-top: 80px;
    position: absolute;
}
.box3{
    width: 170px;
    height: 60px;
    background: rgb(248, 246, 246);
    margin-left: 450px;
    margin-top: 260px;
    border-radius: 10px;
    position: absolute;
}
.ball3{
    background: rgb(6, 218, 6);
    border-radius: 0px 5px 5px 0px;
    height: 50px;
    width: 5px;
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    
}
.box3 h2{
    text-align: center;
    padding-top: 30px;
}
.input3{
    width: 300px;
    height: 40px;
    border-radius: 15px;
    margin-left: 350px;
    margin-top: 135px;
    position: absolute;
}
.box4{
    width: 170px;
    height: 60px;
    background: rgb(248, 246, 246);
    margin-left: 450px;
    margin-top: 380px;
    border-radius: 10px;
    position: absolute;
}
.ball4{
    background: rgb(146, 209, 19);
    border-radius: 0px 5px 5px 0px;
    height: 50px;
    width: 5px;
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    
}
.box4 h2{
    text-align: center;
    padding-top: 30px;
}
.input4{
    width: 300px;
    height: 40px;
    border-radius: 15px;
    margin-left: 350px;
    margin-top: 190px;
    position: absolute;
}
.button2{
    background:linear-gradient(#FAA707 50%,rgb(196, 214, 28));
    width: 200px;
    height: 40px;
    color: white;
    margin-left: 600px;
    margin-top: 460px;
    position: absolute;
    border: 1px solid wheat;
    font-size: 20px;
    border-radius: 20px;
}
.box5{
    width: 600px;
    height: 150px;
    background: rgb(248, 246, 246);
    margin-left: 450px;
    margin-top: 530px;
    border-radius: 10px;
    position: absolute; 
    padding-left: 70px;
}