*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(231, 221, 221);
    width: 90%;
    height: 90%;
    display: flex;
   
}
.co{
    padding-bottom: 20px;
}
.dash{
    background: gray;
    height: 70px;
    width: 1350px;
    position: absolute;
}
.icon{
    padding-left: 210px;
    font-size: 50px;
    padding-top: 20px;
}
.hello i{
    font-size: 30px;
    background: red;
}
.dash2{
    background: gray;
    width: 200px;
    height: 730px;
    padding-left: 10px;
    padding-top: 30px;
    
}

button{
    height: 25px;
    width: 150px;
    background: linear-gradient(yellow, black);
    border-radius: 12px;
    border: 1px solid wheat;
    color: white;
    margin-top: 500px;
    
}
.box1{
    height: 60px;
    width: 150px;
    background: white;
    position: absolute;
    margin-top: 160px;
    margin-left: 220px;
    border-radius: 15px;
}
.box2{
    height: 60px;
    width: 250px;
    /* background: white; */
    position: absolute;
    margin-top: 160px;
    margin-left: 410px;
    border-radius: 15px;
}
.box3{
    height: 60px;
    width: 150px;
    background: white;
    position: absolute;
    margin-top: 260px;
    margin-left: 220px;
    border-radius: 15px;
}
.box4{
    height: 60px;
    width: 250px;
    /* background: white; */
    position: absolute;
    margin-top: 260px;
    margin-left: 410px;
    border-radius: 15px;
}
.box5{
    height: 60px;
    width: 150px;
    background: white;
    position: absolute;
    margin-top: 340px;
    margin-left: 220px;
    border-radius: 15px;
}
.box6{
    height: 60px;
    width: 250px;
    z-index: 0;
    position: absolute;
    margin-top: 340px;
    margin-left: 410px;
    border-radius: 15px;
}
.box7{
    height: 60px;
    width: 150px;
    background: white;
    /* position: absolute; */
    margin-top: 440px;
    margin-left: 220px;
    border-radius: 15px;
}
/* .box8{
    height: 60px;
    width: 250px;
    background: white;
    position: absolute;
    margin-top: 240px;
    margin-left: 410px;
    border-radius: 15px;
} */
.box9{
    height: 150px;
    width: 500px;
    background: white;
    position: absolute;
    margin-top: 100px;
    
    margin-left: 190px;
    border-radius: 15px;
}
.ball1{
    background: green;
    border-radius: 0px 5px 5px 0px;
    height: 50px;
    width: 5px;
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
}
.ball7{
    background: red;
    border-radius: 0px 5px 5px 0px;
    height: 50px;
    width: 5px;
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
}
.box1 h2{
    text-align: center;
    padding-top: 30px;
}
.search{
    background: gainsboro;
    color: black;
    width: 200px;
    height: 20px;
    font-size: 10px;
    position: absolute;
    padding-left: 50px;
    border-radius: 5px;
    margin-left: 600px;
    margin-top: 20px;
    padding-top: 5px;
}
.box3 h2{
    padding-top: 28px;
    padding-left: 20px;
}
.rwf{
    width: 120px;
    height: 50px;
}
input{
    width: 300px;
    height: 50px;
    border-radius: 15px;
}
.box5 h2{
    position: relative;
    padding-left: 200px;
    font-size: 20px;
}
.boss{
    width: 120px;
    height: 50px;
}
.boss input{
    width: 300px;
    height: 50px;
    border-radius: 15px;
    margin-left: 180px;
}
.box7 h2{
    font-size: 20px;
    /* position: absolute; */
    position: relative;
}