body{
    background-image: url(image/medium-shot-woman-holding-tablet.jpg);
    background-size: cover;
    height: 97vh;
    display: flex;
    justify-content: center;
    /* opacity: 0.35; */
    align-items: center;
}
.form{
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    border: 1px solid #c4b69d;
    border-radius: 5px;
}
.form h3{
    font-family: poppins;
    font-size: 25px;
    font-weight: 700;
    color: white;
    text-align: center;
}
.form .login input{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 10px;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 60px;
    font-size: 16px;
}
  button{
    margin: 15px;
    margin-left: 45px;
    padding: 10px 25px;
    border: none;
    outline: none;
    border-radius: 60px;
    width: 75%;
    font-size: 16px;
    background:linear-gradient(rgba(255, 189, 8, 0.956),rgb(203, 201, 177));
text-transform: uppercase;
cursor: pointer;
font-weight: bold;
color: white;
 } 
 .login input{
    background-color:whitesmoke;
    color: rgb(13, 12, 12);
    /* font-family: poppins; */
    letter-spacing: 1px;
    /* text-indent: 35px; */

 } 
 .login input::placeholder{
    font-size: 14px;
 }  
 .suggests{
     width:85%;
     /* display: flex; */
     align-items: center;
     justify-content: space-around;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 18px;
margin:20px;
 }
 .suggests .forgot{
    padding-top:10px;
    color:rgba(250, 169, 8, 0.984);
    cursor: pointer;
 }
 .homepage{
    height: 700px;
    background-image: url(image/medium-shot-woman-holding-tablet.jpg);
    background-size: cover; 
    /* opacity: 0.35; */
    width: 100%;
}
.logo{
    color: rgb(220, 213, 10);
    font-family: 'clicker script',cursive;
    font-size: 40px;
  font-weight: 700;
  padding: 30px;
  position: relative;
  padding-left: 100px;
}
.homecontent{
    position: relative;
    width: 100%;
    color: white;
    padding: 100px;
    font-family:"poppins" sans-serif;
    font-weight: 700;
}
.homecontent h1{
    font-size: 50px;

}
.homecontent h1 span{
    color: rgba(238, 172, 5, 0.76);
    font-style: italic;
    font-weight: 900;
}
.homecontent p{
    font-size: 25px;
    padding-top: 20px;
    font-style: normal;
}
.btn{ 
    margin-top: 40px;
    margin-left: 360px;
    height: 40px;
    width: 30%;
   background:linear-gradient(rgba(255, 189, 8, 0.956),rgb(203, 201, 177));
   border-radius: 20px;
   border: 1px solid white;
   color: white;
   font-family: 700;
   font-size: 20px;
box-shadow:  0 0 20px rgb(48, 46, 77, 0.25);
}
